

  @media screen and (min-width: 320px) {
    .search-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 50px 0;
    }
    .search-field-label {
      margin: 10px 15px;
      font-weight: bold;
      font-size: 20px;
    }
    .search-field-input {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
      }
  }