.card-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #c5c5c7;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fpolice-mugshot-vector-police-lineup-isolated-white-background-illustration-wall-metrical-imperial-prison-template-94555169.jpg&f=1&nofb=1');
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid grey;
    border-radius: 5px;
    /* padding: 25px; */
    transition: transform 0.3s ease-in-out;
}
.card-container:hover {
    transform: scale(1.05);
}

.card-container > img {
    max-width: 100%;
    transition-duration: 0.5s;
}
.card-container > h2 {
    font-family: 'Righteous', cursive;
    text-align: center;
}

.bad-guy-info {
    margin-top: 10px;
    padding: 10px 10px;
    border-top: 1px solid grey;
}
.buttons {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.release-btn {
    margin: 20px 0 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ef5350;
    color: #fff;
    cursor: pointer;
}
.release-btn:hover {
    background-color: #e53935;
}
.full-profile-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(60, 177, 60);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}