.add-guy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
}
.add-guy-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.add-guy-form > input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.add-guy-form > .addBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: lightgreen;
}
.addBtn:hover {
    background-color: #359235;
}

@media screen and (min-width: 768px) {
    .add-guy-form {
        flex-direction: row;
    }
}